.experience {
    background-image: linear-gradient(0deg, rgba(140,52,34,1) 0%, rgba(255,152,64,1) 42%, rgba(19,30,34,1) 100%);
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience h1 {
    margin: 40px;
}

.experience .card {
    background-color: darkslategrey;
    max-width: 450px;
    padding: 20px 40px;
    margin: 20px;
    border-radius: 20px;
}