.experience {
    background-color: darkturquoise;
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience h1 {
    margin: 40px;
}

.experience .card {
    background-color: darkslategrey;
    max-width: 450px;
    padding: 20px 40px;
    margin: 20px;
    border-radius: 20px;
}