.projects {
    text-align: center;
    padding: 20px 0px 40px;
    background-color: #131e22;
    color: white;
}

.projects .gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.projects .project-item {
    width: 400px;
    height: 400px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(255, 233, 194);
    overflow: hidden;
}

.projects .project-item a {
    color: white;
    text-decoration: none;
}

.projects .project-item:hover {
    box-shadow: 0px 4px 10px black;
}

.projects .project-item h2 {
    background-color: rgb(87, 87, 87);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
}

.projects .project-item img {
    width: 80%;
    height: auto;
    /* margin: 20px; */
    /* margin: 20px;
    border-radius: 20px; */
}

.projects .item2 img {
    margin-top:20px;
}

.projects .item3 {
    background-color: #e8eef8;
}

.projects .item4 {
    background-color: #101014;
}