.header {
    margin: 0;
    padding: 0;
    background-image: url('../../Assets/burrard_bridge.jpg');
    background-size: 1920px;
    background-position: 50% 65%;
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 800px;
}

.header .name {
    align-self: center;
    text-align: center;
    text-shadow: 0px 2px 20px #000000;
    
}

.header h1 {
    font-size: 5em;
    margin: 0;
    /* background-image: radial-gradient(rgba(0, 0, 0, .4) 0%, rgba(0,0,0,0) 100%); */
}

.header h2 {
    font-size: 2em;
    margin: 0;
    /* background-image: radial-gradient(rgba(0, 0, 0, 1) 0%, rgba(0,0,0,0) 100%); */
}

.header .icons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    /* background-image: radial-gradient(rgba(0, 0, 0, 0.450) 0%, rgba(0,0,0,0) 100%); */
}

.header .icons a {
    font-size: 1.8em;
    margin: 20px 10px;
    color: white;
}

.header .icons a:hover {
    color: orange;
}

#arrow a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }

@media only screen and (max-width: 800px) {
    .header {
        height: 500px;
    }
    
    .header h1 {
        font-size: 2.5em;
        background-image: radial-gradient(rgba(0, 0, 0, .7) 0%, rgba(0,0,0,0) 100%);
    }
}

  